html,
body {
    margin: 0;
    padding: 0;
}
header {
    position: relative;
}
header .header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    padding: 0 15px;
}
header .header .header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
header .header .header-top .input-search input {
    background: #1e603f;
    border-radius: 10px;
    width: 420px;
    height: 36px;
    border: none;
    padding: 0 18px;
}
header .header .header-top .input-search input::placeholder {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    color: white;
    font-weight: 300px;
}
header .header .header-top .input-search input:focus {
    outline: none;
}
header .header .header-top .input-search i {
    background: #AE100F;
    padding: 18px;
    border-radius: 50%;
    margin-left: -20px;
    color: white;
}
header .header .header-top img {
    width: 206px;
}
header .header .header-top img .banner {
    width: 100%;
}
header .menu-nav {
    font-family: Robot, serif;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
header .menu-nav nav {
    display: inline-block;
}
header .menu-nav nav ul {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px 1;
}
header .menu-nav nav li {
    display: inline-block;
    padding: 0 10px;
}
header .menu-nav nav li a {
    text-decoration: none;
    color: #666666;
    display: block;
}
header .menu-nav nav li:hover {
    color: black;
}
header .menu-nav .menu-description {
    float: right;
    margin-right: 80px;
    margin-top: 20px;
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    display: flex;
}
header .menu-nav .menu-description .menu-description .div {
    margin-right: 10px;
}
header .menu-nav .menu-description i {
    color: #666666;
    margin-left: 100px;
}
.main-content .main-with {
    font-family: Robot, serif;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto 80px;
}
.main-content .main-with .content-top {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.main-content .main-with .content-top .title {
    color: #AE100F;
    line-height: 18px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-content .main-with .short-description {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}
.main-content .main-with .description {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    padding: 0 70px;
    margin-bottom: 90px;
}
.main-content .type-gift-card {
    background: #1e603f;
    font-family: Robot, serif;
}
.main-content .type-gift-card .main-with h3 {
    padding: 50px 0;
    margin: 0;
    color: #AE100F;
    line-height: 18px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-content .type-gift-card .main-with .list-item {
    padding-bottom: 80px;
}
.main-content .type-gift-card .main-with .list-item > .item .item-text p {
    color: #1e603f;
    font-size: 18px;
}
.main-content .type-gift-card .main-with .list-item > .item .item-text .des-item {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    text-align: center;
}
.main-content .type-gift-card .main-with .list-item > .item .item-text a {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    color: #AE100F;
    text-decoration: none;
}
.main-content .type-gift-card .main-with .list-item .item {
    display: inline-block;
    width: calc((100% - 45px) / 3);
    margin-bottom: 15px;
}
.main-content .type-gift-card .main-with .list-item .item :not(:nth-child(3n + 1)) {
    margin-left: 15px;
}
.main-content .type-gift-card .main-with .list-item .item .item-text {
    background: white;
    height: 235px;
    text-align: center;
    font-family: Charm, serif;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px 0;
}
.main-content .type-gift-card .main-with .list-item .item .item-text > a {
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 20px 0 20px;
    font-family: Robot, serif;
    font-weight: bold;
}
.main-content .type-gift-card .main-with .list-item .item .item-text > div {
    color: #AE100F;
    text-align: right;
    margin-bottom: 30px;
}
.main-content .type-gift-card .main-with .list-item .item a,
.main-content .type-gift-card .main-with .list-item .item p {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    color: #AE100F;
    text-decoration: none;
    font-weight: bold;
}
.main-content .service-support .main-with h3 {
    margin: 0;
    color: #AE100F;
    line-height: 18px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-content .service-support .list-button {
    max-width: 1200px;
    margin: 0 auto 80px;
}
.main-content .service-support .list-button .button {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 80px;
}
.main-content .service-support .list-button .button button {
    color: #1e603f;
    background: white;
    border: 1px solid #1e603f;
    font-style: italic;
    cursor: pointer;
    padding: 25px 145px;
}
.main-content .service-support .list-button .button button:hover {
    background: #1e603f;
    color: white;
}
.main-content .service-support .list-button .button :nth-child(3n) {
    float: right;
    margin-left: 80px;
}
.main-content .service-support .list-button .row-content-start {
    justify-content: flex-start;
}
.main-content .service-support .list-button .row-content-end {
    display: flex;
    justify-content: flex-end;
}
.main-content .video {
    text-align: center;
    background: #FAF9F7;
}
.main-content .video iframe {
    max-width: 1200px;
    margin: 80px / 2 auto;
}
.main-content .feel-people .main-with {
    margin: 100px auto 80px;
}
.main-content .feel-people .main-with h3 {
    margin-bottom: 30px;
    color: #AE100F;
    line-height: 18px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-content .feel-people .main-with .source {
    display: inline-flex;
    color: #1e603f;
    font-style: italic;
    margin-bottom: 50px;
}
.main-content .feel-people .main-with .source .add-review {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px / 3;
    cursor: pointer;
}
.main-content .feel-people .main-with .list-review {
    display: flex;
}
.main-content .feel-people .main-with .list-review .item-review {
    display: inline-block;
    width: calc((100% - 45px) / 3);
    margin: 0 0 15px 15px;
    min-height: 200px;
    height: 220px;
    border-radius: 4px;
    background-color: #f2f7f5;
    padding: 10px 10px 20px;
}
.main-content .feel-people .main-with .list-review .item-review :nth-child(3n + 1) {
    margin-left: 0;
}
.main-content .feel-people .main-with .list-review .item-review .review-top .author {
    text-align: end;
    padding-right: 15px;
    line-height: 5px;
}
.main-content .feel-people .main-with .list-review .item-review .review-top .author p {
    color: gray;
    font-style: italic;
}
.main-content .feel-people .main-with .list-review .item-review .sort-review {
    text-align: justify;
    padding: 10px 10px 20px;
}
.main-content footer .main-footer {
    position: relative;
    background-image: url("../../image/background-footer.jpg");
}
.main-content footer .main-footer img {
    width: 100%;
}
.main-content footer .main-footer .main-with {
    margin: auto;
}
.main-content footer .main-footer .main-with .content-footer {
    bottom: 0;
    display: flex;
    color: white;
    padding: 200px 0 50px;
    text-align: left;
    justify-content: space-between;
    line-height: 30px;
}
.main-content footer .main-footer .main-with .content-footer .footer-item ul {
    list-style: none;
}
.main-content footer .main-footer .main-with .content-footer .footer-item ul a {
    color: white;
    text-decoration: none;
}
.main-content footer .main-footer .main-with .content-footer .footer-item ul a :hover {
    background: none;
    text-decoration: underline;
}
.main-content footer .main-footer .main-with .content-footer .footer-item ul .footer-title {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 15px;
}
.main-content footer .bottom-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #66A08C;
    color: white;
    line-height: 22px;
}
.main-content footer .bottom-footer a {
    text-decoration: none;
    color: white;
}
.main-content footer .bottom-footer p {
    margin: 0;
}
